nav.sidebar {
  font-size: 16px;
  font-weight: 700;
  background-color: #0091d4;
  width: 80px;
  height: 100vh;
}

nav.sidebar:hover,
nav.sidebar:focus,
nav.sidebar:active {
  width: 15vw;
}

#sidebarLogo {
  width: 2vw;
  height: auto;
  margin: 20px 10px 10px 10px;
}

.accordion {
  margin-top: 100px;
}

.accordion-item {
  border: 0;
}

.accordion-button,
.accordion-button:not(.collapsed) {
  background-color: #0091d4;
  color: #fff;
  font-weight: 700;
  box-shadow: none;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-body {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #0091d4;
  border: 0;
}

.accordion-body a {
  display: block;
  height: 56px;
  padding-top: 16px;
  color: #fff;
  text-decoration: none;
}

button img {
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
}
