/* Home Page*/

body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}
.container {
  width: auto;
}

/* Header Begin */
#header-nav {
  background-color: #ffffff;
  border-radius: 0;
  border: 0;
  margin-bottom: 5px;
}

#header-div {
	margin: 0px;
  padding: 5px;
  width: 100%;
}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* platform name */
  font-family: 'Lora', serif;
  color: #012169;
  font-size: 1.5em;
  font-weight: bold;
  /* text-shadow: 1px 1px 1px #222; */
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* tag line */
  color: #012169;
  text-transform: capitalize;
  font-size: .7em;
  margin-top: 15px;
}

#collapsable-nav {
	clear: left;
  float: left;
  padding: 0px;
  width: 100%;
  
}

#collapsable-nav a {
  box-sizing: border-box;
  font-size: .9em;
  color: #012169;
  text-align: center;
  margin: 3px;
  padding: 5px 15px 5px 15px;
  
}

#collapsable-nav li:nth-child(1) {
  width: 129px;
  height: 40px!important;
}
#collapsable-nav li:nth-child(2) {
  width: 152px;
  height: 40px!important;
}
#collapsable-nav li:nth-child(3) {
  width: 126px;
  height: 40px!important;
}
#collapsable-nav li:nth-child(4) {
  width: 114px;
  height: 40px!important;
}
#collapsable-nav li:nth-child(5) {
  width: 118px;
  height: 40px!important;
}
#collapsable-nav li:nth-child(6) {
  width: 119px;
  height: 40px!important;
}

#collapsable-nav a:active,#collapsable-nav a:focus, #collapsable-nav a:hover {
  text-decoration-line: underline;
  font-weight: 900;
  border: 1px solid #012169;
  border-radius: 25px;
}

/* End Header */

/* Main Frame */
#main-frame {
  width: 100vw;
  --heightA: calc(var(--vh,1vh)*100);
  --heightB: calc(var(--heightA) - 222px);
  height: var(--heightB);
}

/* End Main Frame */

/* Begin Footer */

.panel-footer .container{
  height: 20px;
}

#helpdesk {
  float: right;
  font-size: 0.9em;
}

#helpdesk a {
  color: #012169;
}

/* End Footer */
/* End Home Page */

/* Pages inside iframe */
.inside-page {
  background-color: #fff;
}


@media (min-width: 1200px) {
  #logo-img {
    background: url('../images/CollabPoint-logo-Large.png') no-repeat;
    width: 150px;
    height: 100px;
    margin: 10px 15px 10px 15px;
  }
}

/********** Medium devices only **********/
@media (min-width: 970px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: url('../images/CollabPoint-logo-medium.png') no-repeat;
    width: 80px;
    height: 80px;
    margin: 5px 10px 5px 10px;
  }

  #collapsable-nav {
    margin-top: 15px;
  }
  /* End Header */

  /* Main Frame */
  #main-frame {
    width: 100vw;
    --heightA: calc(var(--vh,1vh)*100);
    --heightB: calc(var(--heightA) - 207px);
    height: var(--heightB);
  }


}
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 969px){
  /* Begin Header */
  #logo-img {
    background: url('../images/CollabPoint-logo-small.png') no-repeat;
    width: 50px;
    height: 50px;
    margin: 2px 5px 2px 5px;
  }
  .navbar-brand {
    padding-top: 15px;
  }
  .navbar-brand h1 { /* platform name */
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
  }
  .navbar-brand p { /* tag line */
    font-size: .6em;
    margin-top: 5px;
  }

  #collapsable-nav {
    margin-top: 15px;
  }
  /* End Header */

  /* Main Frame */
  #main-frame {
    width: 100vw;
    --heightA: calc(var(--vh,1vh)*100);
    --heightB: calc(var(--heightA) - 171px);
    height: var(--heightB);
  }

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Begin Header */
  .container>.navbar-header {
    margin: 0px;
  }
  
  #logo-img {
    background: url('../images/CollabPoint-logo-small.png') no-repeat;
    width: 50px;
    height: 50px;
    margin: 2px 2px 2px 5px;
  }

  .navbar-brand {
    padding-top: 10px;
    padding-left: 10px;
    height: 90px;    
  }
  .navbar-brand h1 {
    font-size: 5.5vw;
  }

  .navbar-brand p {
    font-size: 3vw;
    margin-top: 10px;
  }

  .navbar-nav {
    margin-left: 0px;
    margin-right: 0px;
  }

  #collapsable-nav {
    margin-left: 0px;
    margin-right: 0px;
  }

  #nav-list ul {
    float: right;
    clear: left;
  }

  #nav-list li {
    width: 90%!important;
    margin: auto;
  }

  /* End Header */
  
  /* Main Frame */
  #main-frame {
    width: 100vw;
    --heightA: calc(var(--vh,1vh)*100);
    --heightB: calc(var(--heightA) - 152px);
    height: var(--heightB);
  }

}