/* Home Page*/

body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

/* Header Begin */
#header-nav {
  background-color: #ffffff;
  border-radius: 0;
  border: 0;
}

#header-div {
	margin: 0px;
}

#logo-img {
  background: url('../images/CollabPoint-logo-Large.png') no-repeat;
  width: 150px;
  height: 100px;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* platform name */
  font-family: 'Lora', serif;
  color: #012169;
  font-size: 1.5em;
  font-weight: bold;
  /* text-shadow: 1px 1px 1px #222; */
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* tag line */
  color: #012169;
  text-transform: capitalize;
  font-size: .7em;
  margin-top: 15px;
}

#collapsable-nav {
	clear: left;
  float: left;
}


/* End Header */

/* End Home Page */

/********** Medium devices only **********/
@media (min-width: 970px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: url('../images/CollabPoint-logo-medium.png') no-repeat;
    width: 80px;
    height: 80px;
    margin: 5px 5px 5px 0;
  }
  /* End Header */
}